* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.title {
    height: 50px;
    background-color: #244A80;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container div {
    padding: 15px;
    color: #244A80;
    font-weight: bold;
}

.inp {
    height: 23px;
    width: 400px;
    border: 0.5px solid #adadad;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#smb {
    text-align: center;
    margin-left: 110px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background: #244A80;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

#smb:hover {
    background: #1667dc;
    transition: .5s;
    border-style: none;
}

#back a {
    text-decoration: none;
    color: #244A80;
    font-weight: lighter;
    font-size: 15px;
}

#back a:hover {
    color: #1667dc;
    transition: .5s;
}

#back {
    margin-top: 80px;
    margin-left: 60px;
}
