<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet" />
    <link th:href="@{/css/loginStyle.css}" rel="stylesheet" />
</head>
<body>
<div class="page">
    <nav>
        <ul>
            <li><a href="/home">Почетна</a></li>
            <li><a href="/register">Регистрација</a></li>
           <!-- <li><a href="logIn.html" class="active">Најава</a></li>-->
        </ul>

    </nav>
    <div class="main-container">
        <div class="box-left">
<!--    <img th:src="@{/images/photo_5.png}" class="illustration" alt=""/>-->
            <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=740&t=st=1670628348~exp=1670628948~hmac=9093b8f0c610360f1dd471d10e73dad12a207418ffdd35a03ac54d190bd44bed"
                 class="illustration"
                 alt=""/>
        </div>
        <div class="box-right">
            <h1>Најава</h1>
            <form method="post" action="/login">
                <div class="input input_field">
                    <input type="text" required name="username">
                    <label>Корисничко име</label>
                </div>
                <div class="input input_field">
                    <input type="password" required name="password">
                    <label>Лозинка</label>
                </div>
                <input type="submit" value="Најави се" id="smb">
                <div class="sign">
                    <a href="/register">Регистрирај се</a>
                </div>
            </form>
        </div>

    </div>
</div>
</div>
</body>
</html>