<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link th:href="@{/css/registerStyle.css}" rel="stylesheet" />
</head>
<body>
<div class="page">
    <div class="title"> Регистрација</div>
    <div class="container">
        <form method="post">
            <div>
                <label for="name">Име</label>
                <input type="text" required id="name" class="inp">
            </div>

            <div>
                <label for="surname">Презиме</label>
                <input type="text" required id="surname" class="inp">
            </div>
            <div>
                <label for="username">Корисничко име</label>
                <input type="text" required id="username" class="inp">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="text" required id="email" class="inp">
            </div>
            <div>
                <label for="password">Лозинка</label>
                <input type="password" required id="password" class="inp">
            </div>
            <div>
                <label for="confirmPass">Потврди лозинка</label>
                <input type="password" required id="confirmPass" class="inp">
            </div>
            <input type="submit" value="Регистрирај се" id="smb">
            <div id="back">
                <a href="#">Врати се кон почетната страница</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>