<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link href="/register.css" rel="stylesheet" />
</head>
<body>
<div class="page">
    <div class="title"> Регистрација</div>
    <div class="container">
        <h1 th:if="${hasError}" th:text="${error}"></h1>
    </div>

    <div class="container">
        <form method="post" action="/register">
            <div>
                <label for="name">Име</label>
                <input type="text"  id="name" name="name" class="inp">
            </div>

            <div>
                <label for="surname">Презиме</label>
                <input type="text"  id="surname" name="surname" class="inp">
            </div>
            <div>
                <label for="username">Корисничко име</label>
                <input type="text"  id="username" name="username" class="inp">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="text"  id="email" name="email" class="inp">
            </div>
            <div>
                <label for="password">Лозинка</label>
                <input type="password" id="password" name="password" class="inp">
            </div>
            <div>
                <label for="confirmPass">Потврди лозинка</label>
                <input type="password"  id="confirmPass" name="confirmPass" class="inp">
            </div>
            <button type="submit" style="color: white" id="smb">Регистрирај се</button>
            <div id="back">
                <a href="/home">Врати се кон почетната страница</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>